<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu List</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <!-- partial:index.partial.html -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <div id="wrapper">
        <div class="cart-icon-top">
        </div>

        <div class="cart-icon-bottom">
        </div>

        <div id="checkout">
            <a href="../Shopping_Cart/Shopping_Cart.html">Shopping_Cart</a>
        </div>

        <!-- <div id="info">
            <p class="i1">Add to cart interaction prototype by Virgil Pana</p>
            <p>    Follow me on <a href="https://dribbble.com/virgilpana" style="color:#ea4c89" target="_blank">Dribbble</a> | <a style="color:#2aa9e0" href="https://twitter.com/virgil_pana" target="_blank">Twitter</a></p>
        </div> -->

        
        <!-- <div class="menu-title">Punix Restaurant</div> -->
        

        <div id="header">
            <ul>
                <li><a href="../Main_Menu/Main_Menu.html">Home</a></li>
            </ul>
        </div>

        <div id="sidebar">
            <h3>CART</h3>
            <div id="cart">
                <span class="empty">No items in cart.</span>
            </div>

            <h3>CATEGORIES</h3>
            <div class="checklist categories">
                <ul>
                    <li><a href=""><span></span>Main Course</a></li>
                    <li><a href=""><span></span>Snack</a></li>
                    <li><a href=""><span></span>Beverages</a></li>
                </ul>
            </div>
        </div>

        <div id="grid-selector">
            <div id="grid-menu">
                View:
                <ul>
                    <li class="largeGrid"><a href=""></a></li>
                    <li class="smallGrid"><a class="active" href=""></a></li>
                </ul>
            </div>
        </div>

        <div id="grid">
            <div class="product">
                <div class="info-large">
                    <h4>Menu 1</h4>
                    <div class="sku">
                        Main Course
                    </div>

                    <div class="price-big">
                        <span> </span>$39
                    </div>

                    <h3>Description</h3>
                    <div class="colors-large">
                        <p>Makanan Lezat</p>
                    </div>

                    <button class="add-cart-large">Add To Cart</button>
                </div>
                <div class="make3D">
                    <div class="product-front">
                        <div class="shadow"></div>
                        <img src="../img/fu-yung-hai.jpeg" alt="Menu 1" />
                        <div class="image_overlay"></div>
                        <div class="add_to_cart">Add to cart</div>
                        <div class="view_gallery">View gallery</div>
                        <div class="stats">
                            <div class="stats-container">
                                <span class="product_price">$39</span>
                                <span class="product_name">Fuyunghai</span>
                                <p>Main Course</p>

                                <div class="product-options">
                                    <strong>Description</strong>
                                    <span>Makanan Lezat made in China</span>

                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-back">
                        <div class="shadow"></div>
                        <div class="carousel">
                            <ul class="carousel-container">
                                <li><img src="../img/fu-yung-hai.jpeg" alt="Menu 1" /></li>
                            </ul>
                            <div class="arrows-perspective">
                                <div class="carouselPrev">
                                    <div class="y"></div>
                                    <div class="x"></div>
                                </div>
                                <div class="carouselNext">
                                    <div class="y"></div>
                                    <div class="x"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flip-back">
                            <div class="cy"></div>
                            <div class="cx"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- php dibawah untuk ngeluarin semua di db + pas di klik item tsb yang akan masuk idnya -->
        <!-- <?php
					include "../php/db.php";
					
					$result = mysqli_query($conn, $sql);
					while ($row = mysqli_fetch_array($result)) {
						
						$current = $row["current"];
						$target = $row["target"];
						
							echo'<div class="col-md-4">';
								echo'<div class="card mb-4 product-wap rounded-0">';
									echo'<div class="card rounded-0">';
										echo'<img class="card-img rounded-0 img-fluid" src="assets/img/'.$row["pathPic"].'">';
									echo'</div>';
									echo'<div class="card-body">';
										echo'<a href="donate.php?q='.$row["id"].'" class="h3 text-decoration-none"><h5>'.$row["judul"].'</h5></a>';
										echo'<ul class="w-100 list-unstyled d-flex justify-content-between mb-0">';
											echo'<li>'.$row["deskripsi"].'</li>';
											echo'<li class="pt-2">';
												echo'<span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>';
												echo'<span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>';
												echo'<span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>';
												echo'<span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>';
												echo'<span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>';
											echo'</li>';
										echo'</ul>';
										echo'<ul class="list-unstyled d-flex justify-content-center mb-1">';
											echo'<li>';
												echo'<progress value="'.$current.'" max="'.$target.'"></progress>';
											echo'</li>';
										echo'</ul>';
										echo'<p class="text-center mb-0">Jumlah donasi: '.$current.'/'.$target.'</p>';
										echo'<br><p class="text-center mb-0">Created by: '.$row["creator"].'</p>';
										echo'<br><p class="text-center mb-0">Expiration Date: '.$row["expirationDate"].'</p>';
									echo'</div>';
								echo'</div>';
							echo'</div>';
					}
				mysqli_close($conn);
	
				?> -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- partial -->
    <script src="./js/script.js"></script>

</body>

</html>